body {
 background-color: rgb(233, 229, 229);
}
img {
 margin-left: 60px;
 margin-top: 170px;
 margin-bottom: 70px;
}

button{
    border-radius: 100px;
    background-color: white;
    text-decoration: white;
}

form {
    margin: 30px;
    margin-top: 280px;

}